@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place the video under the content */
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the whole screen while maintaining aspect ratio */
}

body {
    display: flex;
    background-color: #006636ba;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
    text-align: center; /* Align text inside the div */
    color: #f9f9f9;
    overflow: auto;
}
main h1 {
    padding: 0px;
    max-width: 70%;
    text-align: center;
}
main h2 a {
    text-decoration: none;
    color: #f9f9f9;
    max-width: 70%;
    text-align: center;
}
main h2 a:hover{
    color: #006636ba;
}
main p{
    padding: 20px;
    max-width: 70%;
    text-align: center;
    overflow: auto;
}

.email-link {
    font-size: xx-large;
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
.email-link:hover {
    color: #006636ba;
}

nav {
    padding: 10px;
    padding-bottom: 10px;
}
nav ul {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
}
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}
nav ul li {
    display: inline;
    text-align: right;
    margin-left: 20px;
}
nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #006636ba;
    text-decoration: none;
    font-weight: bold;
}


footer {
    padding: 10px 0;
    text-align: center;
}
.social-media-links {
    margin-bottom: 2px;
}
.social-media-links a {
    text-decoration: none;
    margin: 0 5px;
    color: #f9f9f9; /* Change the color as needed */
    font-size: 16px; /* Adjust the size as needed */
}
.social-media-links a:hover {
    color: #006636ba; /* Change hover color as needed */
}
footer p {
    color: #333;
    font-size: 12px;
}

/* Flyer gallery */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    overflow:inherit;
}
.gallery h2 {
    text-align: center; /* Centers the text horizontally */
    font-size: xx-large;
    width: 100%; /* Ensures the header takes full width of its container */
    margin: 0 auto; /* Centers the header block and removes default margin */
    padding: 10px 0; /* Optional: Adds some spacing above and below the header */
}
.flyer-gallery {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    justify-content: center;
    gap: 10px; /* Space between images */
}
.flyer-gallery img {
    width: 100%; /* Full width on mobile */
    max-width: 300px; /* Maximum image width */
    height: auto; /* Maintain aspect ratio */
}
.gallery h3 {
    text-align: center; /* Centers the text horizontally */
    font-size: large;
    margin: 0 auto; /* Centers the header block and removes default margin */
    padding: 0px 0; /* Optional: Adds some spacing above and below the header */
}
/* Grid layout for larger screens */
@media screen and (min-width: 600px) {
    .flyer-gallery {
        flex-wrap: wrap;
    }

    .flyer-gallery img {
        flex: 1 0 calc(33.33333% - 20px); /* Three images per row, accounting for gap */
        max-width: 400px;
    }
}


.logo-container {
    display: flex;
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Align logos vertically in the center */
    padding-top: 30px;
    gap: 20px; /* Space between logos */
}
.logo {
    max-width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}
