@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2; /* Place the video under the content */
    overflow: hidden;
}
.color-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;  /* Width of the colored square */
    height: 100%; /* Height of the colored square */
    z-index: -1;
    background-color: rgba(50, 95, 60, .90); /* Example: semi-transparent red */
    transform: translate(-50%, -50%); /* Centering adjustment */
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the whole screen while maintaining aspect ratio */
}

body {
    display: flex;
    background-color: #006636ba;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
    text-align: center; /* Align text inside the div */
    color: #f9f9f9;
    overflow: auto;
}
main h2 a {
    text-decoration: none;
    color: #f9f9f9;
    max-width: 70%;
    text-align: center;
}
main h2 a:hover{
    color: #333;
}



/* NAVIGATION */
nav {
    padding: 10px;
    padding-bottom: 10px;
}
nav ul {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px;
}
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}
nav ul li {
    display: inline;
    text-align: right;
    margin-left: 20px;
}
nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    
}
.social-media-links {
    margin-top: auto;
    margin-bottom: auto;
}
.social-media-links a {
    text-decoration: none;
    margin: 0 5px;
    color: #f9f9f9; /* Change the color as needed */
    font-size: 16px; /* Adjust the size as needed */
}
.social-media-links a:hover {
    color: #333; /* Change hover color as needed */
}
footer p {
    color: #333;
    font-size: 12px;
    padding-top: 3px;
}


/* ABOUT */
.about {
    max-width: 85%;
    line-height: 1.5;
    overflow: auto;
}
.about h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}
.about p {
    text-align: justify;
}
.about img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    .about {
        max-width: 50%;
    }
    .about h1 {
        padding-bottom: 20px;
    }
    .about p {
        padding-bottom: 40px;
    }
}

/* RELEASES */
.releases {
    max-width: 80%;
}
.releases img {
    width: 100%;
}
.releases p {
    padding-top: 30px;
    font-size: large;
}
@media screen and (min-width: 600px) {
    .releases p {
        font-size: x-large;
    }
}

/* EVENTS */

.flyer-gallery {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    justify-content: center;
    gap: 10px; /* Space between images */
}
.flyer-gallery img {
    width: 100%; /* Full width on mobile */
    max-width: 300px; /* Maximum image width */
    height: auto; /* Maintain aspect ratio */
}
@media screen and (min-width: 600px) {
    .flyer-gallery {
        flex-wrap: wrap;
    }

    .flyer-gallery img {
        flex: 1 0 calc(33.33333% - 20px); /* Three images per row, accounting for gap */
        max-width: 400px;
    }
}
.flyer-gallery h3 {
    text-align: center; /* Centers the text horizontally */
    font-size: large;
    margin: 0 auto; /* Centers the header block and removes default margin */
}
.flyer-gallery h2 {
    text-align: center; /* Centers the text horizontally */
    font-size: xx-large;
    width: 100%; /* Ensures the header takes full width of its container */
    margin: 0 auto; /* Centers the header block and removes default margin */
    padding: 10px 0; /* Optional: Adds some spacing above and below the header */
    padding-top: 30px;
}


/* Base Styles for Gallery */
.gallery {
    margin-bottom: 15px; /* Space below the gallery */
    padding: 0 15px; /* Adds padding to the left and right */
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
}
.gallery img {
    width: 100%; /* Images take full width of their container */
    height: auto; /* Height adjusts to maintain aspect ratio */
    display: block; /* Removes extra space below images */
    margin-bottom: 0px; /* Adds space below each image */
}
.gallery h2 {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 5px;
    column-span: all; /* Ensures the text spans all columns */
}
.gallery p {
    text-align: center;
    font-size: large;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 15px;
    column-span: all; /* Ensures the text spans all columns */
}

.gallery p.caption {
    text-align: justify;
    max-width: 80%;
}

/* Masonry Layout for Smaller Screens */
@media screen and (max-width: 599px) {
    .gallery {
        column-count: 2; /* Two columns on smaller screens */
        column-gap: 0px;
    }
    
    .gallery img {
        break-inside: avoid; /* Prevents images from being split across columns */
        width: 100%;
    }

    .gallery.lone-image-container img.lone-image {
        column-span: all; /* Makes the image span all columns */
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 80%; /* Adjust as needed */
        height: auto; /* Maintain aspect ratio */
    }
}
/* Grid Layout for Larger Screens */
@media screen and (min-width: 600px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjusts the alignment of items */
    }
    .gallery img {
        break-inside: avoid; /* Prevents images from being split across columns */
        width: 80%;
    }
    .gallery .lone-image {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Adjust as needed, e.g., 80% to make it smaller */
        height: auto; /* Maintain aspect ratio */
    }
}





/* RADIO */
.radio h2, p {
    padding: 30px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Align logos vertically in the center */
    padding: 10px;
    gap: 30px; /* Space between logos */
    display: flex;
    flex-wrap: wrap; 
}
.logo {
    max-width: 110px;
    height: auto; /* Maintain aspect ratio */
    padding-bottom: 30px;
    margin: 0 10px;
}



/* CONTACT */
.email-link {
    font-size: xx-large;
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
.email-link:hover {
    color: #333;
}