@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place the video under the content */
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the whole screen while maintaining aspect ratio */
}

body {
    display: flex;
    background-color: #2772429c;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
    text-align: center; /* Align text inside the div */
    color: #f9f9f9;
}
.email-link {
    font-size: xx-large;
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
.email-link:hover {
    color: #2772429c;
}

nav {
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0px;
}
nav ul li {
    display: inline;
    text-align: right;
    margin-left: 20px;
}
nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #2772429c;
    text-decoration: none;
    font-weight: bold;
}


footer {
    padding: 10px 0;
    text-align: center;
}
.social-media-links a {
    text-decoration: none;
    margin: 0 5px;
    color: #f9f9f9; /* Change the color as needed */
    font-size: 16px; /* Adjust the size as needed */
}
.social-media-links a:hover {
    color: #2772429c; /* Change hover color as needed */
}
footer p {
    color: #333;
    font-size: 12px;
}